@model CRM.Entities.Employee

@{
    ViewData["Title"] = "Details";
}



<div class="card bg-light-info shadow-none position-relative overflow-hidden">
    <div class="card-body px-4 py-3">
        <div class="row align-items-center">
            <div class="col-9">
                <h4 class="fw-semibold mb-8">Employee Form</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-muted" asp-controller="Employees" asp-action="Index">Employees</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">Employee Details</li>
                    </ol>
                </nav>
            </div>
            <div class="col-3">
                <div class="text-center mb-n5">
                    <img src="../../dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="px-4 py-3 border-bottom">
                <h5 class="card-title fw-semibold mb-0">Edit Employee</h5>
            </div>
            <div>

                <div class="card-body p-4">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <label asp-for="StaffNumber" class="form-label fw-semibold">Staff Number</label>
                                <input asp-for="CreatedDate" hidden />
                                <input type="text" class="form-control" id="exampleInputtext" asp-for="StaffNumber" disabled>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Firstname" class="form-label fw-semibold">First Name</label>
                                <input type="text" class="form-control" id="exampleInputtext" asp-for="Firstname" disabled>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Surname" class="form-label fw-semibold">Surname</label>
                                <input type="text" class="form-control" id="exampleInputtext" asp-for="Surname" disabled>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Othername" class="form-label fw-semibold">Other Name</label>
                                <input type="text" class="form-control" id="exampleInputtext" asp-for="Othername" disabled>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <label asp-for="Email" class="form-label fw-semibold">Email</label>
                                <input type="text" class="form-control" id="exampleInputtext" asp-for="Email" disabled>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Phone" class="form-label fw-semibold">Phone number</label>
                                <input type="text" asp-for="Phone" class="form-control" id="Phone" disabled>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Department.DepartmentName" class="form-label fw-semibold">Department</label>
                                <input type="text" class="form-control" asp-for="Department.DepartmentName" disabled>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex align-items-center gap-3">
                                <a class="btn btn-primary" type="submit" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                                <a class="btn btn-light-danger text-danger" asp-action="Index">Back to list</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
