@model CRM.Entities.Client

@{
    ViewData["Title"] = "Details";
}



<div class="card bg-light-info shadow-none position-relative overflow-hidden">
    <div class="card-body px-4 py-3">
        <div class="row align-items-center">
            <div class="col-9">
                <h4 class="fw-semibold mb-8">Client Details</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-muted" asp-controller="Clients" asp-action="Index">Clients</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">Clients Details</li>
                    </ol>
                </nav>
            </div>
            <div class="col-3">
                <div class="text-center mb-n5">
                    <img src="../../dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="px-4 py-3 border-bottom">
                <h5 class="card-title fw-semibold mb-0">Create New Client</h5>
            </div>
            <div>

                <div class="card-body p-4">
                    <h5 class="fs-4 fw-semibold mb-4">Personal Info</h5>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <label asp-for="Name" class="form-label fw-semibold">Clients Name</label>
                                <input type="text" class="form-control" id="exampleInputtext" asp-for="Name" placeholder="John" disabled>
                            </div>
                            <div class="mb-4">
                                <label asp-for="ContactNumber" class="form-label fw-semibold">Contact Number</label>
                                <input type="text" class="form-control" id="exampleInputtext" asp-for="ContactNumber" placeholder="John" disabled>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Email" class="form-label fw-semibold">Email</label>
                                <input type="text" class="form-control" id="exampleInputtext" asp-for="Email" placeholder="email@example.com" disabled>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Address" class="form-label fw-semibold">Address</label>
                                <textarea type="text" asp-for="Address" class="form-control" id="Phone" placeholder="Address here ..." disabled></textarea>
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="mb-4">
                                <label asp-for="Company" class="form-label fw-semibold">Company Name</label>
                                <input type="text" class="form-control" id="exampleInputtext" asp-for="Company" placeholder="Company Name" disabled>
                            </div>
                            <div class="mb-4">
                                <label asp-for="DateRegistered" class="form-label fw-semibold">Date Registered</label>
                                <input type="datetime-local" class="form-control" asp-for="DateRegistered" disabled>
                            </div>
                            <div class="mb-4">
                                <label asp-for="CreatedDate" class="form-label fw-semibold">Date Created</label>
                                <input type="datetime-local" class="form-control" asp-for="CreatedDate" disabled>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Notes" class="form-label fw-semibold">Notes</label>
                                <textarea type="text" asp-for="Notes" class="form-control" id="Phone" placeholder="Notes here ..." disabled></textarea>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="d-flex align-items-center gap-3">
                                <a class="btn btn-primary" type="submit" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                                <a class="btn btn-light-danger text-danger" asp-action="Index">Back to list</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
