@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<div class="card bg-light-info shadow-none position-relative overflow-hidden">
    <div class="card-body px-4 py-3">
        <div class="row align-items-center">
            <div class="col-9">
                <h4 class="fw-semibold mb-8">Visitor's List</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-muted" asp-controller="Visitors" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">Visitors List</li>
                    </ol>
                </nav>
            </div>
            <div class="col-3">
                <div class="text-center mb-n5">
                    <img src="~/dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create New Button -->
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<section class="datatables">
    <!-- File export -->
    <div class="row">
        <div class="col-12">
            <!-- ---------------------
                        start File export
                    ---------------- -->
            <div class="card">
                <div class="card-body">
                    
                    <div class="table-responsive">
                        <table id="file_export"
                               class="table border table-striped table-bordered display text-nowrap">
                            <thead>
                                <!-- start row -->
                                <tr>
                                    <th>
                                        Role Id
                                    </th>
                                    <th>
                                        Role Name
                                    </th>

                                    <th>Actions</th>
                                </tr>
                                <!-- end row -->
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary" title="Edit">   <i class="ti ti-edit"></i></a> |
                                            <a asp-action="Details" asp-route-id="@item.Id" class="text-primary" title="Details">  <i class="ti ti-info-square-rounded"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <!-- ---------------------
                        end File export
                    ---------------- -->
        </div>
    </div>
</section>
<!-- --------------------------------------------------- -->
<!--  table advance End -->
<!-- --------------------------------------------------- -->
@section Scripts {
    <script src="~/dist/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/datatable/datatable-basic.init.js"></script>
    <script src="~/dist/js/datatable/datatable-advanced.init.js"></script>
}